html body {
    margin: 0;
    padding: 0;
}

/* remove decorations */
a {
    text-decoration: none;
    color: white;
}

.first-container {
    height: 450px;
    background-color: #1D2937;
    display: flex;
    justify-content: center;
}

.first-content {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 370px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    gap: 15px;
}


.herotext-image {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 210px;
    margin-top: auto;   
    /* border: solid red 1px;    */
}

.hero-and-subtext {
    display: flex;
    flex-direction: column;

    width: 400px;
}

.herotext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 4px 20px;
    margin-top: 10px;
}

.imgbox {
    width: 450px;
    height: 210px;
    color: #E5E7EB;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}